.vscode

# Игнорируем все бинарные файлы
*.o
*.a
*.so
*.exe
*.out
*.app

# Игнорируем главный исполнимый файл, например 'main' (или указываем его конкретное имя)
main

# Игнорируем директории сборки
/build/
/bin/
/obj/

.DS_Store
/.DS_Store
